@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root {
    --cor0: #ebe5c5;
    --cor1: #EEDE81;
    --cor2: #B8B39A;
    --cor3: #6B643A;
    --cor4: #6B695A;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

section{
    padding: 10px;
}

h1{
    color: #888883;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 7%;
    padding-top: 100px;
    font-size: 2em;
}

h2{
    font-family: Rancho, 'Courier New', Courier, monospace;
    font-size: 4em;
    padding-left: 7%;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    padding-left: 25px;
    font-size: 1.8em;
}

p{
    padding-left: 25px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

strong {
    color: gray;
}

#sec-1, #sec-4{
    background-color: white;
}

#sec-3{
    background-color: var(--cor4);
    color: white;
}

img#logo{
    width: 100px;
    padding: 25px;
}

.col{
    display: grid;
    grid-template-columns: 50% 50%;
}

.img-alone{
    width: 300px;
    margin-top: 10%;
    display: inline;
}

.img-inline{
    width: 100%;
    height: 75%;
}

.hide {
    margin: 0px;
}

.img-tower {
    height: 250px;
    width: 50px;
}

.col-text{
    text-align: justify;
}

.img-mini{
    width: 32px;
    padding-top: 20%;
    padding-left: 25px;
}

.script-js{
    width: 215px;
    height: 200px;
    margin: auto;
}

.products{
    display: none;
}

.ladrao{
    border: 1px 1px 2px black;
    border-radius: 50%;
}
.social {
    width: 25px;
    margin-top: 0px;
    padding: 0px;
}

ul{
    margin-top: 15px;
}

li {
    list-style-type: none;
    font-weight: bolder;
    padding: 5px;
    font-size: 1.2em;
    text-align: left;
    margin-left: 35%;
}

li > a{
    padding-left: 7px;
}

@media screen and (max-width: 850px) {
    #logo{
        padding: 0px;
    }
    body{
        margin: auto;
        text-align: center;
    }
    img{
        width: 250px;
        margin-top: 10%;
        display: inline;
        padding: 10px;
    }

    .col {
        display: block;
        grid-template-columns: none;
    }

    .col-50{
        width: 100%;
    }

    .hide {
        display: none;
    }

    h1{
        padding: 10px;
    }

    div{
        margin: 0px;
    }

    .img-mini, h3, p.info {
        text-align: center;
        padding: 15px;
        padding-bottom: 5px;
        margin: auto;
        display: block;
    }
}

@media screen and (min-width: 760px) and (max-width: 850px){
    
    .hide, .col-50 {
        display: inline;
    }

    .img-inline, .img-alone {
        width: 250px;
        height: 175px;
        display: inline;
        padding: 10px;
    }

    .change{
        display: none;
    }

}

@media screen and (min-width: 760px) {
    .img-inline{
        width: 200px;
        height: 175px;
    }

    .col-50{
        width: 100%;
        margin: 0px;
    }

    h1{
        padding-top: 50px;
    }

    .hide{
        width: 410px;
    }

    .change{
        display: none;
    }

    .img-tower{
        width: 70%;
        height: 90%;
    }

    .col-20-80{
        display: grid;
        grid-template-columns: 35% 60%;
        text-align: left;
        padding: 35px;
    }

    .col-text{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 25px;
        padding: 0px 100px 10px 100px;
    }

    .col-image {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .script-js{
        display: none;
    }
    
    .products{
        display: inline;
        width: 215px;/*95%;*/
        height: 200px;
        margin: auto;
    }
    /*
    .p-cent{
        height: 151px;
    }*/
}

@media screen and (min-width: 960px) {
    .col-image {
        margin: auto;
    }
}